In [25]:
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE school (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    major TEXT
)
''')

cursor.execute('''
CREATE TABLE grades (
    student_id INTEGER,
    subject TEXT,
    score INTEGER,
    FOREIGN KEY (student_id) REFERENCES school (id)
)
''')

students = [
    (1, 'minh', 20, 'info-cov'),
    (2, 'test22', 22, 'software'),
    (3, 'test33', 21, 'computer'),
    (4, 'test444', 23, 'engineering'),
    (5, 'ga111o', 20, 'robot')
]

cursor.executemany('INSERT INTO school VALUES (?, ?, ?, ?)', students)

grades = [
    (1, 'math', 85),
    (1, 'programming', 100),
    (2, 'math', 78),
    (2, 'programming', 88),
    (3, 'math', 92),
    (4, 'programming', 75),
    (5, 'math', 80)
]

cursor.executemany('INSERT INTO grades VALUES (?, ?, ?)', grades)
conn.commit()

In [26]:
query = '''
SELECT s.name, s.major, g.subject, g.score
FROM school s
JOIN grades g ON s.id = g.student_id
'''

cursor.execute(query)
results = cursor.fetchall()

for result in results:
    print(result)

('minh', 'info-cov', 'math', 85)
('minh', 'info-cov', 'programming', 100)
('test22', 'software', 'math', 78)
('test22', 'software', 'programming', 88)
('test33', 'computer', 'math', 92)
('test444', 'engineering', 'programming', 75)
('ga111o', 'robot', 'math', 80)

In [27]:
query = '''
SELECT name, age,
    CASE
        WHEN age < 21 THEN 'under 21'
        WHEN age BETWEEN 21 AND 22 THEN '21 < 22'
        ELSE 'over 22'
    END as age_group
FROM school
'''

cursor.execute(query)
results = cursor.fetchall()

for result in results:
    print(result)

('minh', 20, 'under 21')
('test22', 22, '21 < 22')
('test33', 21, '21 < 22')
('test444', 23, 'over 22')
('ga111o', 20, 'under 21')